In [1]:
import pandas as pd

In [21]:
a = [1, 2, 3]
b = [4, 5, 6]

df = pd.DataFrame()
df['a'] = a 
df.to_hdf('testhdf.hdf5', format='table', key='key') #, append=True)

In [22]:
df['a'] = b
df

   a
0  4
1  5
2  6

In [25]:
df.to_hdf('testhdf.hdf5', key='key', format='table', append=True, index=True)

In [26]:
df_r = pd.read_hdf('testhdf.hdf5', key='key')
df_r

   a
0  1
1  2
2  3
0  4
1  5
2  6
0  4
1  5
2  6

In [20]:
df.to_hdf('testhdf.hdf5', key='key1', format='table', append=True, index=True)

In [38]:
data_along_track = {
        'along_defl_stoch': None,
        'along_defl_cont': None,
        'along_defl_type': None,
        'along_defl_angle_stoch': None,
        'along_defl_angle_cont': None,   
    }

for key in data_along_track.keys():
    data_along_track[key] = pd.read_hdf('data/data_along_test/data_along_test_get_data_along_track_test.hdf5', key='seed_3_{}'.format(key))
    # data_along = pd.read_hdf('data/data_along_test/data_along_test_get_data_along_track_test.hdf5', key='seed_3_along_defl_stoch')
data_along_track[key]

    along_defl_angle_cont
0                0.018464
1                0.016761
2                0.021715
3                0.003018
4                0.002221
..                    ...
91               0.021365
92               0.000364
93               0.009577
94               0.072755
95               0.093156

[19279 rows x 1 columns]