In [30]:
import pandas as pd

In [50]:
a = [1, 2, 3]
b = [4, 5, 6]

df = pd.DataFrame()
df['a'] = a 
df.to_hdf('testhdf.hdf5', format='table', key='key')

In [51]:
df['a'] = b
df

   a
0  4
1  5
2  6

In [54]:
df.to_hdf('testhdf.hdf5', key='key', format='table', append=True, index=True)

In [55]:
df_r = pd.read_hdf('testhdf.hdf5')
df_r

   a
0  1
1  2
2  3
0  4
1  5
2  6
0  4
1  5
2  6